[2018-11-03 09:34] tknopp opened #1 "AcquisitionData"
In `AcquisitionData` the `subsampleIndices` (I renamed them from `idx`) are currently not a concrete type, which make the entire type unstable. Can't we make this 1D?

[2020-02-25 22:18] mjherold opened #5 "Precompile for MRIReco fails"
The precompile for MRIReco seems to fail on my platform. I get the following error after `using MRIReco`.

[code]

The module `LinearOperators` precompiles without a problem, and also passes `test LinearOperators`.

[code]

Thank you in advance for any help with this issue!

Michael J Herold

[2020-02-26 07:53] tknopp commented on #5
Dear Michael,

thanks for the bug report! I cannot reproduce here for version 0.21 and also for master. Could you please report the version of MRIReco that you are using. Best is if you report the output of
[code]
Mine looks like this:
[code]

[2020-02-26 15:35] mjherold commented on #5
Dear Tobias:

My output for the MRIReco manifest looks like:

[code]

The list contains more packages than the output you show.  Maybe a fresh Julia install will resolve this, which I did, and then added `MRIReco`. Still same Julia version and commit as before, but the only package `add` done was for `MRIReco`:

[code]
Adding MRIReco worked fine now.

[code]

Now the manifest output is:

[code]

F

[2020-02-28 18:12] tknopp commented on #5
ok, yes your versions were old. That was a time where the Julia ecosystem had no upper version bounds, which was an inherent problem. Now the entire package ecosystem has upper version bounds and such things should not really happen anymore. You could have solved this by simply updating the packages `] up`.

Anyway: I hope that you find this package useful and please report issues or things where

[2020-03-02 10:44] mjherold commented on #5
Tobias: Thank you and sorry for what with hindsight could have been avoided. I just started to use Julia, having done most work up to now in Python.

Michael

[2020-05-29 18:11] mrikasper opened #7 "Documentation of Parameter Settings"
Dear Tobias and Mirco,

it's been a while, but I finally found some time trying out your great toolbox and studying the examples you provide in more depth.

I was wondering about the parameter settings for both `reconstruction` and `simulation`, i.e., `recoParams` and `simParams`. The meaning of the arguments (subfields) in the parameter dictionaries is well explained in the documentation, but I w

[2020-06-05 15:04] tknopp commented on #7
Hi Lars,

you have quite well found the pros and cons of our parameter handling concept. Let me explain this a little bit the ideas behind this.

In general one has the issue that the reconstruction depends on quite some parameters and the question is, how to handle them all. From a high level perspective it is great to have a very dynamic system, where you are basically just throwing a parameter

[2020-07-26 10:13] wizofe commented on #5
Hello! I am getting the same error here. I tried to `up` my packages but still the same error. I am using Julia 1.5b.

[code]

Thanks!

[2020-07-27 08:22] tknopp commented on #5
Hi @wizofe,

I am currently making a release, which will be version 0.2.4. I think with that an `up` should install this version.
If not it would be helpful to post the output of `] st` and `] st --manifest`.

What is happening is that another project is holding back an upgrade of `MRIReco`.

Best,  Tobi

[2020-07-27 12:16] wizofe commented on #5
Hi Tobias,

thanks for your reply! Still the same even after `up`-ping! Here are the results of the output you asked:

[code]

and

[code]

[2020-07-27 14:48] tknopp commented on #5
Hi, it seems that your registry was not updated then. I recommend cleaning `~/.julia/clones/` and `~/.julia/registries/` and again do `up`. You may want to backup both directories but I usually just `rm` them.

If that does not help, you may also start from a fresh environment (just remove `~/.julia/environments/v1.5` and start adding new packages starting with MRIReco which should directly be 0.2

[2020-07-27 15:48] wizofe commented on #5
Hi Tobias,

thanks a lot for the instructions. This worked for my both my Linux box and Mac (had the same problem weirdly).

Best,
Ioannis

[2020-07-28 12:14] tknopp commented on #5
great, hope that the package is useful for you. We are open to collaborate if there are things that are missing.

[2020-07-28 12:14] #5 closed

[2020-12-14 13:49] JuliaTagBot opened #16 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-12-14 13:49] #16 closed

[2021-04-09 14:57] alexjaffray opened #20 "Indexing in conversion from RawAcquisitionData to AcquisitionData"
Dear Tobias and Mirco,

**I have noticed some unexpected behaviour when converting RawAcquisitionData to AcquisitionData in MRIReco.jl.**

My routine is as follows:
* ISMRMRD datafile -> RawData -> AcquisitionData -> Reconstruction (multiCoil) '

The ISMRMRD file contains data from a 32 coil Cartesian gradient echo scan (converted to ISMRMRD by siemens_to_ismrmrd) acquired independently at two dif

[2021-04-14 08:07] tknopp commented on #20
Thanks a lot, we will have a look. Ping @migrosser

[2021-04-14 09:30] migrosser commented on #20
Thanks for pointing this out to us. I had a look at the code and the fix looks good to me. I comited it to the master for now. For the future, I think it would be a good idea to create a test that captures this kind of bug.

[2021-04-14 11:03] tknopp commented on #20
perfect, thanks! I initiated a bug-fix release (0.3.3) and close this now.

[2021-04-14 11:03] #20 closed

[2021-06-21 18:23] alexjaffray opened #25 "ISMRMRD Saving and Loading"
Hi Mirco and Tobias,

We are in the process of modularizing our reconstruction pipeline (which is built on MRIReco.jl) and are attempting to use the data writing functionality in MRIReco.jl to save a RawAcquisitionData object to an ISMRMRD file so that we can separate our pre-processing and reconstruction tasks. This is on Julia 1.6.1 and the master version of MRIReco.jl.

I have encountered an er

[2021-06-22 07:55] tknopp commented on #25
Hi Alexander,

thanks for the bug report. No, I don't see a reason on what's going on here. We need to look into the file generated by `siemens_to_ismrmrd` to track down this bug. Could you share a private link to the data (email address, see [here](https://www.tuhh.de/ibi/people/tobias-knopp-head-of-institute.html))? I will not have a chance to look at this in the next two weeks though.

Best  To

[2021-06-22 18:53] alexjaffray commented on #25
Thanks for the quick response! I will send the datafile to you shortly. That timeline is ok with me, there is no rush as I can always write the data to a nonstandard .h5 file easily for internal use.

[2021-07-04 15:28] tknopp commented on #25
Ok, I made some progress. The file that you send me was named "fieldMap_23_1.h5". The error I got was actually a different one than you posted here. The problem with "fieldMap_23_1.h5" was that it contained two "TE" times. I made a quick fix here https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/3f2a3fadd330b9d173a107fd5dde61d0ea2c6672
that simply keeps the xml as in the original file.

[2021-12-08 18:08] rajramasawmy opened #33 "Loading a MRD converted from Bruker in python, missing encoding header fields"
I was testing out this example https://magneticresonanceimaging.github.io/MRIReco.jl/latest/filehandling/#Conversion
to convert the example Bruker data at http://media.tuhh.de/ibi/mrireco/brukerfileCart.zip to MRD/ISMRMRD

However, I cannot open the converted data using python's ismrmrd package,
[code]

I can open the data in matlab, but a few fields are missing in the header structure - though I

[2021-12-09 08:26] tknopp commented on #33
Hi @rajramasawmy, thank you for the bug report!

I fixed the missing reconSpace on master so that you can test this out. I also added a dummy entry for parallelImaging.
The reconSize of the data is 128x128. I am not sure if that reconSize I get from BrukerFile is the same as the one we have in the ISMRMRD file.

encodingLimits are still missing. Not sure if the python software requires that. If ye

[2021-12-09 10:31] tknopp commented on #33
I also added the encoding limits (at least partially).

[2021-12-13 20:31] rajramasawmy commented on #33
Hey @tknopp sorry for the delay!

Here is a printout of the encoding structure (for spiral, showing userParameter options too):
[code]

[2021-12-13 21:08] tknopp commented on #33
* Can you test if my changes to master allows to make the files loadable by the python framework?
* Do you intend to load spiral data? I think we only have partial support for that in BrukerFile module. So this would be slightly more work.
* I right now only set parts of the encodingLimits. If you have a BrukerFile with all the parameters known then we can together work on filling the remaining fi

[2021-12-13 21:11] tknopp commented on #33
https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/master/src/IO/Brukerfile.jl#L330

Here you can see how I extract the encoding limit data from the headers of the profiles.

[2021-12-14 13:18] rajramasawmy commented on #33
Thanks, I'll test it out!
I dont work with Bruker data right now, but I was using the toolbox as demonstration of bruker to mrd conversion using open-source software:
https://github.com/rajramasawmy/mri_together_mrd

[2022-01-06 03:14] JakobAsslaender opened #38 "Name of function "data""
Hi,
I am wondering if it might be worth renaming the function "data". I know, renaming function breaks code etc., but so does a a function name that people very commonly use for, well, _data_ ...

Thinking a little bit broader: I did not realize that this MRIReco.jl has this functionality, otherwise I would not have re-invented the wheel with [BartIO.jl](https://github.com/JakobAsslaender/BartIO.j

[2022-01-06 10:45] aTrotier commented on #38
Agreed with @JakobAsslaender. I think it is better to keep the BartIO separated. It make sense to keep the pycall wrapper separated with the read/write function.

I see in the function that you vectorize all the data and not returning the dims. Is there a reason ?

Maybe we either read the data in the k-space form then call another function to construct an acquisitionData from the dimensions knowi

[2022-01-06 11:11] tknopp commented on #38
thoughts:
- yes the name `data` should definitely not be used. I switched this to `FileIO.load` which is the standard interface. When going one step further one can also register the file extension so that no type is required anymore but this has no priority IMHO.
- The code here was just a hack since we had one dataset that we needed to load. So please consider this code to be experimentally and

[2022-01-06 11:31] aTrotier commented on #38
The main issue is that the BART format does not store any FOV, orientation etc information. It is only a matrix of k-space (or rawdata with an associated trajectory files). The `AcquisitionData` will be mainly empty but except for the kdata. We can extract from it (looking for zeros) the subsample indices and encoding size but for the rest it has to be done by hand

I have one in BartIO I can crea

[2022-01-06 11:43] tknopp commented on #38
I would suggest moving all that code into MRIReco (despite the Python stuff). My implementation can be removed.

[2022-01-14 14:43] JakobAsslaender opened #45 "Replace Topelitz implementation"
Change this call to use the ND Toepltiz Implementation in [NFFT.jl](https://github.com/tknopp/NFFT.jl):

https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/5a6900ac87d4415d3a1b6954d469f0ecfab40cb0/src/Operators/NFFTOp.jl#L104

And remove the implementation in this package.

[2022-01-17 20:12] JakobAsslaender opened #46 "ESPIRiT Segfault"
I keep getting segfault errors in ESPIRiT. They only seem to happen on large 3D datasets and a 40-core HPC machine. Most of the times, the error message is unspecific, but one time I get a bit more of a specific error message:

[code]

which seems to point at the SVD in this line:
https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/62afb3cd455078a5d0ff8164557090e297d77483/src/Tools/CoilSen

[2022-01-17 20:27] tknopp commented on #46
I would say this is either a Julia bug or a Julia limitation. So probably open a bug in Julia. This will, however, require that you make a very small example, where you basically extract the code in question into something like a 10 lines example.

Other than that you could test  https://github.com/JuliaLinearAlgebra/MKL.jl

[2022-01-17 20:33] JakobAsslaender commented on #46
Yeah, that is the problem: I was not able to create a minimal working example. On smaller datasets, e.g. the test suit of MRIReco, it works just fine. And creating a large dataset with random numbers also did not trigger the issue in the particular way I tried. But maybe I'll submit an issue w/o MWE and see if anyone has an idea.

[2022-01-20 07:50] #45 closed

[2022-01-20 14:02] JakobAsslaender opened #51 "Type Stability of Normal Operator"
I am wondering if we should also re-write the way we construct the normal operator depending on whether we want to use a Toeplitz Operator or not. Unfortunately, the function

https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/355a5c89b6e7df9b0e6cb9e72336663d468687b0/src/Operators/NFFTOp.jl#L105-L111

is not type stable:
[code]

Any ideas on how we could do this?

[2022-01-20 19:26] tknopp commented on #51
Type instabilities are not always eval and actually it is a feature of Julia that you can mix dynamic and static code. In this particular case I don't think that it will be an issue. The question is what happens with the return type of `normalOperator`. If you pass it to a solver the code within the solver will be fast because there was a function barrier.

Basically a reconstruction chain on a hi

[2022-01-25 15:36] #25 closed

[2022-01-27 13:28] aTrotier opened #58 "Offsets Bruker acquisition is not handle by the current reconstruction pipeline"
The reconstruction pipeline images FOV is at the isocenter

- [x] Need a datasets with offsets (2D and 3D)
- [x] Check where is stored the offset
-> my guess :
[code]
- [x] Correct it in either k-space or after reconstruction

[2022-01-27 13:30] aTrotier commented on #58
One the function I use in matlab is creating a linear ramp phase that I add to the current k-space before reconstruction.
[code]

Maybe it is better/easier to perform a linear interpolation in the image domain ?

[2022-01-27 13:55] tknopp commented on #58
I think doing it in Fourier space is the correct thing TODO.

[2022-01-27 15:22] aTrotier commented on #58
At what point should we add the phase ?

Even if it is something specific to Bruker It might a better idea to either wrote a function that acts on the raw or acq structure ? In that case we can directly take the nodes and create the phase correction based on that ?

[2022-01-27 15:47] tknopp commented on #58
I am not really sure. The easiest for now would be to add the phase when transitioning from the `RawAcquisitionData` to the `AcquisitionData` object. You would need to look at the ISMRMRD data format to check where they store that information. Then you can store it at the same location when going from `BrukerFile` to `RawAcquisitionData`. After that you add the phase here:

https://github.com/Magn

[2022-01-28 09:33] aTrotier commented on #58
Good idea, I forget it was already stored here :
https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/1e801179928d6488920b72ff6702592e8ab6585c/src/IO/Brukerfile.jl#L292

It might required some tests to validate that the metadata are right. Because we might also need that to create a good nifti at the end. (I have done some works here about that : https://github.com/aTrotier/ismrmrd_to_nifti

[2022-01-28 09:44] aTrotier opened #60 "Filling nifti orientation with ismrmrd metadata"
# Issue
For now the nifti are created without any position/orientation. It will be an issue at some points if we want to perform registration with sequence not acquired at the same position.

# Enhancement to do :
## Filling nifti from ismrmrd metadata
I have already worked on that topic a little bit in matlab : https://github.com/aTrotier/ismrmrd_to_nifti
It has to be implemented and adapted.
For

[2022-01-28 12:04] tknopp commented on #60
Absolutely! We are aware that our nifti / dicom story is far from great and this mostly because our focus is more on the reconstruction algorithms. This is something where it thus needs external contributions. Note that @Tokazama is the expert on NIfTI (and DICOM?) in Julia land and has for more insights into [NIfTI.jl](https://github.com/JuliaNeuroscience/NIfTI.jl)

[2022-01-29 03:22] aTrotier opened #61 "Bruker to acquisitionData : ComplexF32 -> ComplexF64"
Hi,
For now data are converted to ComplexF64 at this [line](https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/2978ca778d5a6c2ccef06d7988eec966ccfeb63a/src/IO/Brukerfile.jl#L311) I can use Maybe dtype = Complex{acqDataType(b)} at this step.

However during the conversion from raw to acq data are converted to ComplexF64. Is that an issue to keep the type in the acquisitionData ? I thought

[2022-01-29 06:23] tknopp commented on #61
I am not sure anymore why I did this. But we certainly want to support `Float32`. So `dtype = Complex{acqDataType(b)}` seems like a good idea. You might find this in other places as well.

[2022-01-29 06:27] tknopp commented on #61
Actually we have `https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/2978ca778d5a6c2ccef06d7988eec966ccfeb63a/src/Datatypes/RawAcqData.jl#L55`
So the `Profile` cannot hold `ComplexF64`. Not sure where you are seeing that.

[2022-01-29 06:42] aTrotier commented on #61
During the conversion to acq : https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/2978ca778d5a6c2ccef06d7988eec966ccfeb63a/src/Datatypes/AcqData.jl#L22

[2022-01-29 06:49] tknopp commented on #61
That is a different type, I thought the `RawDataAcquisition` type was the issue. `AcquisitionData could/should indeed be parametric in T`

[2022-02-04 15:43] Tokazama commented on #60
Check out https://github.com/JuliaArrays/SpatioTemporalTraits.jl and https://github.com/JuliaArrays/ArrayInterface.jl. I'm just finishing up a PR for dimension names in the latter so I can update NIfTI.jl. The idea is that these are relatively small packages that provide generic methods for extracting dimension names, spatial/temporal units, etc. This approach is nice because the interface is comm

[2022-02-06 13:18] tknopp opened #66 "Strip of IO Part in Dedicated Package"
After seeing  https://github.com/JeffFessler/MIRTio.jl   I am thinking about stripping of some IO parts from MRIReco.jl into a dedicated package. This has no high priority for me right now but I feel this could be one first steps towards package consolidation (aka the big [JuliaImageRecon](https://github.com/JuliaImageRecon) plan). Of course this move only makes sense if we merge `MIRTio.jl` and t

[2022-02-06 19:29] aTrotier commented on #66
Hi,

You want to build a reader for each main vendors rather than using the ISMRMRD generated by e.g. [siemens_to_ismrmrd](https://github.com/ismrmrd/siemens_to_ismrmrd) ?

I am not working a lot on the .dat files (siemens rawdata files) because I am directly dumping the data from the scanner to my server in ISMRMRD but during sequence development I remember digging into the files sometimes to see

[2022-02-06 21:45] JeffFessler commented on #66
I like the idea of gathering raw-data readers used for image reconstruction in one discoverable place and isolating them from recon packages.  I used to have AVS .fld format readers in MIRT.jl but moved it to FileIO.jl instead (https://github.com/JuliaIO/AVSfldIO.jl) but that is a much simpler format and more generic than sinogram or k-space data.  I also like the choice of using ISMRMRD as the st

[2022-02-06 22:28] tknopp commented on #66
Thanks for the feedback. Not careing about Philips/Siemens/GE ...  and relying on the ISMRMRD has been my original plan and if the existing converters work good than I don't see a pressing need re-implementing stuff. So, lets do it that way: We introduce `MRIFiles.jl` which will have some sub packages for vendor file formats (`ISMRMRD.jl`, `BrukerFiles.jl`, ... ). And yes, I am talking about raw d

[2022-02-07 03:17] JakobAsslaender commented on #66
Hi,
I think this is a great plan and I am happy to move BartIO.jl. I agree with Jeff's concerns about the naming though: `MRIFiles.jl` suggests that we are providing files. And I think `xIO.jl` is a widespread naming convention in the Julia ecosystem, which I think we should stick to.

My two cents regarding vendor formats vs. ISMRMD/MRD format: I myself actually do not use MRD and I know many peo

[2022-02-07 10:01] aTrotier commented on #66
What are the limitation with pymapvbvd ?

BartIO.jl is still under development (But I am using my fork in multiple Pluto notebook to compare MRIReco and BART reconstruction) but it makes sense to regroup it :)

Should we add a nifti export in that package ? (it will be closely related to the MRD format in order to fill the orientation metadata)

[2022-02-07 15:56] mrikasper commented on #66
Hello everyone,

Thanks for looping me in, @tknopp ! It's interesting to see how workflows diverge re: (ISMR)MRD, because what @aTrotier wrote resonates with me as well, i.e.,

- Remove vendor specificity as fast as possible after acquisition and move to an agnostic raw data format

This comes pretty close to our own workflow as well. For myself I previously used Philips. Now, together with @alexj

[2022-02-07 16:15] aTrotier commented on #66
I guess what is missing is a way to export in json files all the parameters from the vendor-specifc data rather than only the ones defined in the parameter maps.

I have some [codes](https://github.com/aTrotier/ismrmrd_to_nifti) that i can use to create a NIFTI from raw mrd/img mrd but because it is a homemade custom convertor I am not really sure about the results and I prefer to keep the img.h5

[2022-02-07 17:44] tknopp commented on #66
This is all very important feedback and while there is quite some diversity in the workflow and the use cases (as expected), I still think that we can come up with a unified Julia package that addresses various workflows. Initially we will go for MRD+BrukerFiles which is a nice playground. But I feel with @JakobAsslaender that we should keep this open to cover also more vendor file formats. I know

[2022-02-08 10:09] aTrotier commented on #66
If someone is working with small vendor ( ex : MRSolution) or even custom
MRI (we have an earth field scanner in my lab), they only have to write a
reader  and after that he can easily also use MRIReco as a MRD convert
if for example he wants to upload the data to http://mridata.org/

Le lun. 7 févr. 2022 à 18:44, Tobias Knopp ***@***.***> a
écrit :

--
--------------------------------------------

[2022-02-08 15:24] aTrotier commented on #33
@rajramasawmy Did you manage to make it works ?

[2022-02-11 00:42] alexjaffray commented on #66
Thanks @tknopp for opening this discussion and @mrikasper for the mention! I think my sentiments on the topic have been well covered by Lars' comment, however I would like to additionally echo what @JakobAsslaender mentioned about the installation hurdles and add some further motivation for Julia-native converters.

From my own experience, following the installation steps for ISMRMRD and the vendo

[2022-02-11 07:30] tknopp commented on #66
Wow, very cool that we have a ParRec package! Thanks for the feedback Alex.

In my opinion we should gather all these packages in one Github organization. That is actually the purpose of `MagneticResonanceImaging`. For general discussions on the big picture we can use the discussion forum in `MRIReco.jl`. So that is the place where we discuss how we structure packages and so on.

I personally like

[2022-02-14 20:13] alexjaffray opened #68 "AcquisitionHeader Data Type Question"
I noticed that the AcquisitionHeader stores the number of samples as an Int16. Is this done for speed or memory reasons? Would there be a problem with changing it to UInt32, or even UInt16?

The reason I am asking is that this datatype choice limits the number of samples in a given readout to 32767. Most analog readouts have a dwell time of around 2 microseconds, and so this limit corresponds to a

[2022-02-14 20:21] tknopp commented on #68
There is no rule for that, but things like this can be kept as issues. The discussion section is more for usage questions. Before we had that it was a little bit odd to open issues when one just had a question. Your point here is not a user question but a design discussion. So it fits well.

[2022-02-14 20:33] tknopp commented on #68
Regarding the question: In our design right now we have a 1-to-1 correspondence between ISMRMRD and `RawAcquisitionData`. We could at some point separate this but it raises new challenges since we then need to think about how we can load and store our own internal representation into ISMRMRD. So changing to `UInt32` is not completely trivial.

But: Actually I don't know why I used the signed integ

[2022-02-14 20:50] alexjaffray commented on #68
I agree, changing to UInt16 to be consistent with ISMRMRD would be a good idea (regardless of whether my issue is fixed), and it also would fix my issue in the interim. I am just getting this project off of the ground so it will be a while until I determine whether there is a practical need to go beyond UInt16.

From a design paradigm point of view, I very much like the idea of keeping a 1:1 corre

[2022-02-14 22:27] tknopp commented on #68
Perfect. Sounds like a plan. I share the opinion that we should first discuss with ISMRMRD if there might by a limitation in the file format instead of working around it. So please open an issue there. Certainly it makes sense to do this well prepared, probably with some actual Philips files that showcase the limitation.

In the mean time I will have a look at the unsigned integer change.

[2022-02-14 23:15] alexjaffray commented on #68
Great! I will be aware of the potential limitation and acquire some data in the next month or so to see if it is a problem in practice and add a well-informed issue in ISMRMRD should that be the case.

However, I have also opened a separate issue (with minimum working example) about saving raw data back to ISMRMRD, which I noticed while testing some things today. It is caused also by the same Int1

[2022-02-15 08:58] tknopp commented on #68
The switch to unsigned int went smoothly:

https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/af51715171d1e5d213128be35656c0bf8106563b

[2022-02-16 21:42] alexjaffray commented on #68
For the time being, this issue is solved for me, so I am closing this. I will open an issue with ISMRMRD once we have a concrete example as discussed in this thread.

[2022-02-16 21:42] #68 closed

[2022-02-17 12:02] tknopp commented on #61
I think this issue is solved. If not, please reopen.

[2022-02-17 12:02] #61 closed

[2022-02-20 11:55] tknopp opened #73 "Native Siemens Reader"
During the restructuring (#72) I am looking a little bit how much effort it would be to read siemens files natively.

There seem to be the following packages:

https://github.com/ismrmrd/siemens_to_ismrmrd
https://github.com/wtclarke/pymapvbvd

Does anybody know, which of the ones has more functionality, i.e. less limitations? I lean towards the `siemens_to_ismrmrd` since it basically gives us for

[2022-02-20 11:57] tknopp commented on #66
#72 is an attempt to split MRIReco into pieces.

[2022-02-21 14:36] JakobAsslaender commented on #73
Wow, thanks for starting to look into this! There is also the package

https://github.com/pehses/twixtools

It is written by @pehses, who also wrote the Matlab toolbox `mapVBVD`, which is arguably the most-used package to read Siemens twix files. I cannot comment on `siemens_to_ismrmrd`, but both `pymapvbvd` and `twixtools` have two essential features:
1. load the entire header as a struct / dicti

[2022-02-21 15:09] tknopp commented on #73
Very interesting. Is `sliced` loading an important design criterion? We do this in our sister package `MPIFiles.jl` but right now `MRIFileIO.jl` is not designed to work like this. However, this is not set in stone and can be fixed, if there are use cases for it. If we tackle that, then for all files, not just siemens.

(In `MPIFiles.jl` we are using mmap for this purpose and it works like a charm.

[2022-02-21 17:39] JakobAsslaender commented on #73
I personally don't use it a lot since I am a 3D kinda guy. But in particular if you do multi-slice imaging and have limited memory / don't want to wait forever, it is very useful if you can just load the data that you need--which can be at the order of 1% of the total file size.

[2022-02-21 17:47] alexjaffray commented on #73
`sliced `loading would be very helpful, especially for diffusion imaging. At the moment, I actually work around the lack of this feature in our reconstruction pipeline with @mrikasper by manually adjusting the acquisitionData structure to only contain a single slice.

[2022-02-26 21:12] tknopp opened #76 "Partial (or lazy) Loading of RawAcquisitionData"
I am splitting of this feature request from #73 since this would be easier to implement for ISMRMRD.

@mrikasper @alexjaffray: Could you come up with a small simple example of what you have in mind here? Ideally you would design a small minimal example that we need for the test suite anyway. The example can be small and simulation based but it should represent your use case well.

From my understa

[2022-02-26 21:59] tknopp commented on #76
The ugly part is the need to change `rawData.params` as you already do. I fear this is necessary.

Basically one can use your code as the blueprint for moving that stuff into `RawDataAcquisition`.

The most crucial part, however, will be to change this line:
https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/master/src/IO/ISMRMRD.jl#L20
We need to only read the headers of the profiles. Bu

[2022-03-01 05:12] alexjaffray commented on #76
@tknopp can you update the link? it's broken after #72 was merged.

[2022-03-01 07:30] tknopp commented on #76
done

[2022-04-05 01:22] aalfi opened #78 "convert3dTO2d"
I'm trying to run the example.jl .. I am a newbie learning Julia
The error mentioned  below
`acqData2d = convert3dTO2d(acqData)`

[2022-04-22 06:07] tknopp commented on #66
Since #72 is merged, this issue can be closed.

[2022-04-22 06:07] #66 closed

[2022-05-06 10:02] aTrotier opened #83 "estimateCoilSensitivities returns a 5D array -> iterative reconstruction expected a 4D array"
estimateCoilSensitivities returns a 5D array (read,phase,slice,echo,channel) whereas espirit returns a 5D array (read,phase,slice,channel,nmaps)

For the reconstruction
params[:senseMaps] is suppose to be a 4D array (read,phase,slice,channel).

Should we change something ? Or just let the user figure that out and remove the 4th dimension of the estimateCoilSensitivities output ?

[code]

[2022-05-06 11:58] aTrotier commented on #78
We have made some modification to the package which broke the example.jl.

I have a branch to work on the correction :
https://github.com/MagneticResonanceImaging/MRIReco.jl/tree/Example

The function convert3dTO2d is now working but I have an other error during the reconstruction which required to change the lambda to params[:λ] = Float32(2.e-1)

[code]

I have more error after that again

@tknop

[2022-05-16 07:51] aTrotier commented on #78
I find the issue in Wavelets.jl. I made a PR : https://github.com/JuliaDSP/Wavelets.jl/pull/79

[2022-05-24 14:30] jakubMitura14 opened #85 "data from multiple dicom series into one"
Hello thank you for sharing your work I am wondering weather i could use your algorithms for 3d reconstruction of MRI from Dicom files

I mean for example i have three series transverse t1, saggital t1 and coronal t1 and using all of those i would like to reconstruct the single series with maximized spatial resolution, can your library can be used for it ?

Thank you !

[2022-05-26 20:49] alexjaffray commented on #85
Hi Jakub,

Thanks for asking about this! Unfortunately I don't think MRIReco.jl can be used for what you are trying to do, at least not directly.

MRIReco.jl is a tool for reconstructing MR images from raw k-space data. DICOM data is usually already reconstructed, and so MRIReco.jl is of limited use to your application (which is not image reconstruction in the MRI sense, but rather superresolution

[2022-05-26 20:49] #85 closed

[2022-05-27 05:02] jakubMitura14 commented on #85
Thank you !

[2022-06-10 09:55] aTrotier commented on #78
@aalfi the PR has been merged. I think you should be able to reconstruct the "non-squared" image now :)

However in that case (220x160) we only have 2 levels of wavelets transform, I don't know if it will be enough to get a good reconstruction with CS.

It is possible to zero filled the image to the next 2^n size (see https://github.com/tknopp/SparsityOperators.jl/issues/12) . I am waiting for @tk

[2022-06-13 16:36] JeffFessler commented on #78
I don't have any experience with zero-padding prior to a wavelet transform.  The DWT is a unitary transform that simplifies proximal operators, whereas the product of the DTW with a zero-padding matrix is not unitary so that seems likely to complicate fast proximal optimization methods, but for splitting methods like ADMM it would be no problem.
Zero-padding of axial slices that have air all aroun

[2022-06-14 08:46] aalfi commented on #78
Thank you so much!

[2022-06-14 10:59] JeffFessler commented on #78
Addendum.  The comment I wrote above assumed that you were thinking of zero padding only for the regularizer, i.e., a regularizer of the form || DTW * ZeroPad * x ||.  Perhaps you meant instead to reconstruct a larger sized image that has more factors of 2 in its dimensions, so the "zero padding" takes place just once at the start of the iterative recon.  That would be a very reasonable approach f

[2022-06-15 10:21] aTrotier commented on #78
@aalfi let us now if it works :)

@JeffFessler thanks for the answer I was thinking about Zero padding only the regularizer. Something like that :
[code]

My guess is that the level of DWT has an impact on the CS reconstruction (with only 2 levels of DWT we are less sparse)

My idea was to not restrict the level of DWT to 2 due to the "weird" matrix size along one dimension. Hopefully, most of the

[2022-06-15 10:58] JeffFessler commented on #78
That operator is potentially useful but it is not unitary so you probably would need to modify the optimization algorithm.
BTW, `nextpow` is useful here.

[2022-06-17 07:11] aTrotier commented on #78
BTW, I asked the BART community about their implementation of the DWT
**Martin answer :**

And in the sigpy example : https://github.com/mikgroup/sigpy-mri-tutorial/blob/master/03-building-an-l1-wavelet-recon-app.ipynb

It seems the DWT is using some signal extension (I guess it is zero-padding but the [wavelet module have multiple options](https://pywavelets.readthedocs.io/en/latest/ref/signal-ex

[2022-06-22 07:56] aTrotier opened #86 "Bruker pulse structure is not read correctly"
In bruker method file :
[code]

the results in julia cut the 2nd line
[code]
I'll work on that and maybe implement a specific struct for BrukerPulse

[2022-06-22 07:59] aTrotier opened #87 "recoData(f::BrukerFile) only read Int16 format and procno 1"

[2022-06-22 10:48] tknopp commented on #87
yes, we implemented this just for the data we had measured. Should be straight forward to extend this. There is already code for the type checking:
https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/e6b104b02475a40e51c0c01ff6f14e7dd88aa8ce/MRIFiles/src/Bruker/Bruker.jl#L384

[2022-06-22 10:57] aTrotier commented on #87
It is more a TODO list for me (and for the meeting). I have a bunch of
stuff I want to implement for Bruker.

If you prefer I can either put that in the github project part

Le mer. 22 juin 2022 à 12:48, Tobias Knopp ***@***.***> a
écrit :

--
------------------------------------------------------------
TROTIER Aurélien
31 allée de la Biotte
33470 Gujan-Mestras
06.09.12.61.61
***@***.***

[2022-06-22 10:59] tknopp commented on #87
No, this is perfect to create smaller issues here! Thats what the issue tracker is for.

[2022-06-25 11:11] #86 closed

[2022-06-25 11:12] #87 closed

[2022-07-01 13:45] aTrotier commented on #58
I'm working on that here : https://github.com/MagneticResonanceImaging/MRIReco.jl/pull/90

[2022-07-12 16:42] alexjaffray commented on #7
Augmenting this discussion, the list of solvers is available here:

https://tknopp.github.io/RegularizedLeastSquares.jl/latest/solvers/

[2022-07-19 08:29] aTrotier opened #93 "Optimization of reconstruction_direct for cartesian cases"
I am playing a little bit with large cartesian multi-echo datasets. It seems that the bottleneck is the samplingDensity function because it uses the NFFT function to compute it.

When I remove the setupDirectReco steps and the weighting parts of the reconstruction_direct. I get thus benchmarks (for a reduced datasets).
with sdc : 11s
without : 0.5s

Do we really need that step for the cartesian ca

[2022-07-19 08:31] tknopp commented on #93
No of course not! I think there is some "isCartesian" property within the trajectory, which can be used to omit this.

[2022-07-19 08:56] aTrotier commented on #93
https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/eb566097ef13f8926e9586dda579a645eee40de2/MRIBase/src/Datatypes/AcqData.jl#L216

Yes but it does not bypass the sdc function.  It is the case in setupIterativeReco with `:densityWeighting = false` :

[code]

Maybe I can refactor that and put else part into the samplingDensity which will be called for the cartesian case and only if `:densit

[2022-07-19 11:55] migrosser commented on #93
This is a good point. I just modified the `samplingDensity`-method, such that it checks whether a trajectory is Cartesian and uses the analytic weights if applicable. Hopefully, this solves the problem.

Thanks for pointing out that setupIterativeReco is called even for direct reconstruction. This is also something which we should address. Should be a simple fix though.

[2022-07-28 05:26] aTrotier opened #94 "reading any bruker parameters takes 0.5 ms"
# issue
Accessing parameters from bruker sequence is too long. Due to my modification in order to read all the parameters :/

It is an issue for the UTE reconstruction because I'm running the same command at each iteration https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/effdcac6bf46addd49f9bef7670b8a0eaa3874f0/MRIFiles/src/Bruker/BrukerSequence.jl#L81

I change that in https://github.c

[2022-07-28 09:57] #58 closed

[2022-08-23 15:21] #94 closed

[2022-09-04 13:34] tknopp commented on #93
I think this was fixed in https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/effdcac6bf46addd49f9bef7670b8a0eaa3874f0
If not please re-open.

[2022-09-04 13:34] #93 closed

[2022-09-09 16:43] aTrotier opened #103 "Complex Float32 data are not well handle"
While working on a benchmark against bart (which is using Float32). I wanted to create a data acq with that possibility.
One of the issue was in CartesianTrajectory3D

I had to change the type of the keyword parameters to Float32
[code]

Should we change that ?

It is also the same issue for the reconstruction regularization parameters

[2022-09-09 19:47] aTrotier commented on #103
I'll put that on my to do. Especially for all the high level functions.

Le ven. 9 sept. 2022 à 21:27, Tobias Knopp ***@***.***> a
écrit :

[2022-09-21 12:15] aTrotier opened #106 "KooshballTrajectory does not work for Float32"
[code]

returns the error :
[code]

It works with
[code]

[2022-09-21 13:55] aTrotier opened #107 "sdc on NFFTOp failed due to p.params.precompute = TENSOR"
Code to reproduce error :
[code]
I get :
[code]

but it works with :
[code]

because the option is  `POLYNOMIAL::PrecomputeFlags`  in this case.

[2022-09-28 19:19] alexjaffray opened #108 "Extremely slow multiCoil reconstruction for 32 coils"
I've noticed that 32 channel reconstructions are extremely slow, even for simple Cartesian trajectories. This is new behaviour, as in release 0.5.0 I was able to perform the same reconstructions extremely quickly.

I have added a test in the `testCartesianCG` branch which replicates this problem.

[2022-09-28 21:27] alexjaffray commented on #108
After some playing around with things, it seems that it is related to type inference, seems like the recent changes to MRIReco and RegularizedLeastSquares result in a lot of type inference overhead.

[2022-09-29 06:17] tknopp commented on #108
Our first reconstructions are indeed quite slow. I am not sure if our recent changes have made things worse.

[2022-09-29 13:40] alexjaffray commented on #108
@tknopp I understand the slowness of the first reconstruction as a general Julia characteristic, however 32 coil reconstruction of a single 64 x 64 slice using simulated data with a Cartesian trajectory should not take > 2 hours on CI... See the CI runs in the testCartesianCG branch for reference. This is a significant problem which should be looked into and was not picked up on the tests since th

[2022-09-30 13:47] tknopp commented on #108
This should be fixed by https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/b6c4c8ccc3b7a874574bfb0eda47c60300e287f3

[2022-09-30 15:40] tknopp commented on #108
And https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/d9d22032e0260d175825c3fe2bccbf4fe7d8f015 brings the TTFIR (time to first image reconstruction) from 20 s to about 3.6 s. But watch out, the first `using` will be much longer, because it does image reconstruction during precompilation. Regular using goes from 15.5 s to 19 s here. This is because it needs to load more precompiled code

[2022-09-30 17:26] migrosser commented on #106
this should be fixed by d1efe5d .

[2022-09-30 17:29] migrosser commented on #103
Commit d1efe5d should fix the issue with the type of TE and AQ in the trajectories. Furthermore, I changed `setupIterativeReco` so that the type of lambda is adapted to the underlying datatype in AcquisitionData in commit b84a9ee

[2022-09-30 18:27] migrosser opened #109 "Duplicate implementation of power iteration"
I just stumbled upon the fact that we have one method `power_iterations!` in MRIReco (which in turn is used by espirit) and a similar method `power_iterations` in RegularizedLeastSquares. The only difference between these methods seem to be the default values for `rtol`and `maxiter` and the fact that `power_iterations!` allows to pass a pre-allocated vector for `b`.
I think it would be nice to ada

[2022-09-30 19:56] JakobAsslaender commented on #109
Hmm, I agree with your general intend, but it would further increase the dependencies? I would still prefer to move all coil estimation code out of MRIReco.jl into a dedicated, light weight package and in this case it would be nice to not introduce a dependency for this simple function. But I am interpreting @tknopp's silence on this topic as a preference of his to keep the code in MRIReco.jl (whi

[2022-09-30 20:18] tknopp commented on #109
I am actually not sure what the right modularization approach is here. Would you really see MRICoilSensitivities to be completely independent of any image reconstruction algorithm?

[2022-09-30 21:10] JakobAsslaender commented on #109
Yes, I would. This way, you could easily use it any other package w/o heavy dependencies.

Just to give you one (egocentric) use example: I am currently setting up a [MRFingerprintingRecon.jl](https://github.com/JakobAsslaender/MRFingerprintingRecon.jl) package that will eventually implement a [low rank ADMM algorithm](https://onlinelibrary.wiley.com/doi/pdf/10.1002/mrm.26639). I think this is too

[2022-09-30 22:58] JeffFessler commented on #109
I too would like the convenience of a separate, smaller package for using ESPIRIT or such.
A comment though is that `estimateCoilSensitivities` here works with input images, but some  coil map estimation methods are joint with recon methods, like JSENSE:
https://sigpy.readthedocs.io/en/latest/generated/sigpy.mri.app.JsenseRecon.html#sigpy.mri.app.JsenseRecon. So maybe the repo here should be `MRIC

[2022-10-01 00:17] alexjaffray commented on #108
This is great! Thanks @tknopp for doing this so quickly!

Our 32 coil reconstructions work on `master` for spiral and cartesian trajectories so I'll close the issue.

[2022-10-01 00:17] #108 closed

[2022-10-01 07:24] tknopp commented on #109
Jeff made my point much more clear. If we put `JSENSE` into `MRICoilSensitivities`, the package would be a dependent of MRIReco. Otherwise it would be a dependency. That makes a huge difference.

But I am all for proper modularization so it would be very helpful, if you two could give me some sketches on how your ideal package structure (as a tree) looks like. Then we can decide if we should name

[2022-10-01 07:31] tknopp commented on #108
Perfect, and thanks for bringing this up Alex. Otherwise we would not have been able to fix it.

[2022-10-01 15:24] aTrotier commented on #103
Thanks !

Le ven. 30 sept. 2022 à 19:29, migrosser ***@***.***> a
écrit :

[2022-10-03 09:24] aTrotier opened #110 "Error when using CGNR"
This error does not happens with admm / fista solver. I am using ComplexF32 data, not sure it is related.

    Closest candidates are:
      MRIReco.CompositeNormalOp(::S, ::U, ::V) where {S, U, V} at ~/.julia/packages/MRIReco/ehYO5/src/Operators/Composition.jl:89

[2022-10-03 09:27] tknopp commented on #110
Could you provide the script that generates the error?

ADMM and Fista do not use the NormalOp right now.

[2022-10-03 09:49] aTrotier commented on #110
I get that with a custom MP2RAGE sequence.
I'll try to generate the error with simulated data

[2022-10-03 09:52] tknopp commented on #110
Ah okay, would you then probably provide a longer stacktrace? I probably can see the issue from that. And is this on all packages dev-ed? If MRIReco is dev-ed so does SparsityOperators at the moment.

[2022-10-03 10:20] tknopp commented on #110
This commit will fix the issue: https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/abf335c871cea52f288b2d7566c0737a9edcb1d1

But I am actually not sure if that is the only issue since I wonder, why our tests did to catch that case. So it would be definitely good to get this case into our test suite.

[2022-10-03 10:22] aTrotier commented on #110
on my side this test is failling :
[code]

[2022-10-03 10:33] aTrotier commented on #110
new error :)
I guess we can add the test

[code]

[2022-10-03 10:36] tknopp commented on #110
Perfect thanks, I will later fix that. With the test that will be possible.

[2022-10-03 13:23] nbwuzhe commented on #110
@alexjaffray and I are also encountering exactly same two issues. We fixed the first one as [abf335c](https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/abf335c871cea52f288b2d7566c0737a9edcb1d1) but counldn't find which part triggered this conversion from ComplexF32 to Int64. Would appreciate it if that could be investigated, thanks.

[2022-10-03 13:29] tknopp commented on #110
And for the records, the issue is
[code]
which seems to be technically correct. But it prevents us from generating a proper temporary vector. My fix will circumvent that but I need to think how to tackle that more generally.

[2022-10-03 13:36] alexjaffray commented on #110
@nbwuzhe and I aren't doing CS, we get the error when we try to do a routine Cartesian trajectory reconstruction

[2022-10-03 13:45] alexjaffray commented on #110
Sounds good @tknopp.

I'll test the fix once it's posted and let you know how it goes.

[2022-10-03 13:54] aTrotier commented on #110
I used the CGNR solver to perform the zero-filling reconstruction while combining the data with coil sensitivity with iteration = 1. For the real reconstruction, I am using the ADMM solver + Wavelet reg.

[2022-10-03 13:59] tknopp commented on #110
Thats a valid use case of course. The fix is committed: https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/5296327cbb16dbb9ae88921fd2a002e63e96d8a0

CI is hopefully happy soon. Needed to make a release of SparsityOperators.jl

[2022-10-03 15:09] nbwuzhe commented on #110
Hi @tknopp thanks for the quick fix. Just had a trial on our Cartesian data and seems the error is still the same:

ERROR: TaskFailedException

    nested task error: TaskFailedException

        nested task error: InexactError: Int64(-2.2006506f-7 + 1.1055942f-7im)
        Stacktrace:
          [1] Real
            @ .\complex.jl:37 [inlined]
          [2] convert
            @ .\number.jl:7 [inl

[2022-10-03 15:18] tknopp commented on #110
Have you updated SparsityOperators?

[2022-10-03 15:29] tknopp commented on #107
fixed by https://github.com/JuliaMath/NFFT.jl/commit/10a3751985abe51fa0590ef430311f663a9f4c09

[2022-10-03 15:52] nbwuzhe commented on #110
Thanks @tknopp after upgrading all depending packages both Cartesian and spiral data were passed as in the old version.

[2022-10-03 15:52] alexjaffray commented on #110
@nbwuzhe and I have updated SparsityOperators and things seem to be working now. Thanks @tknopp!

Total allocations are quite a bit higher than in v0.5.0 but things run and reconstructions look as they did before. Thanks for the quick fixes! We are still trying to figure out how to efficiently put our data in a test to include into MRIReco to catch these things more quickly, have been using v0.5.0

[2022-10-03 15:58] #110 closed

[2022-10-03 21:03] JeffFessler commented on #109
Thinking more, perhaps I muddied the water too much.  JSENSE is a recon method that happens to also produce coil sensitivities, so arguably it belongs in MRIreco. I would prefer `MRICoilSensitivities` over `ESPIRIT.jl` both to better comply with julia package naming conventions and also to make room for future alternatives that also work in the image domain.  It should suffice to have the readme e

[2022-10-03 21:15] JakobAsslaender commented on #109
I agree with @JeffFessler, JSENSE is foremost an image reconstruction and should be part of MRIReco.jl. The implementation of ESPIRIT, with a main function that takes an array of numbers as input. The wrapper function that takes the MRIReco.jl data format would stay in MRIReco.jl, and if someone were to introduce a new data format for whatever reason, they could write their own wrapper in their pa

[2022-10-05 07:31] tknopp commented on #109
I will have a look into this when I find some time. `MRICoilSensitivities` will certainly be based on `MRIBase` to keep all coil related functionality in a single package. If we do the modularization, I want to do this properly and don't want to write many wrappers in MRIReco.jl. Ideally MRIReco.jl is just a meta-package which reexports a certain package collection (of which `MRFingerprintingRecon

[2022-10-05 09:37] #103 closed

[2022-10-05 13:55] aTrotier opened #114 "Fista algorithm : accuracy problem"
Compressed sensing is now really fast with FISTA : https://github.com/MagneticResonanceImaging/MRIReco.jl/discussions/102#discussioncomment-3655548

But there is still an issue with accuracy (https://github.com/MagneticResonanceImaging/MRIReco.jl/discussions/102#discussioncomment-3623535). We observed it on phantom : https://atrotier.github.io/MRIRecoVsBART_Benchmark/test_bart.html

And I also hav

[2022-10-05 18:58] andrewwmao commented on #114
Hi aTrotier,
I looked at the notebooks that you linked, and it seems that the second notebook using the in vivo MP2RAGE data is using an old version of 'RegularizedLeastSquares'. I contributed a bugfix to the FISTA algorithm in comparison to BART that should have fixed the accuracy problem. Can you try updating this to v0.8.7?

For the first notebook, my feeling is that there may be an issue with

[2022-10-06 13:31] JakobAsslaender commented on #114
So if I understand it correctly, the return value of BART depends whether it terminates based on max number of iteration, in which case it returns after the gradient step, i.e. half way through Eq. 4.1 in the FISTA paper:

https://github.com/mrirecon/bart/blob/5428c0ae9f6cdb1667b549323802682ce1171bd9/src/iter/italgos.c#L252

but if the residual is smaller than the termination threshold, they retur

[2022-10-06 15:41] tknopp commented on #114
Intuitively, I would have said after the prox step because only then the solution lies in the desired subspace (as Jeff has said). Making it dependent on maxiter seems to be suboptimal. We should not replicate that.

[2022-10-06 16:06] JakobAsslaender commented on #114
Well in this case the current implementation is correct :). @aTrotier : Have you played with `lambda` and `maxiter` to see if either of those resolve the issue? Note that there is a factor 2 difference in `lambda` between ADMM and FISTA as @andrewwmao pointed out to me. We should probably resolve this to make the algorithms more comparable.

[2022-10-06 16:18] JeffFessler commented on #114
I have trouble understanding the BART code, but if @JakobAsslaender's reading of it is correct then I think it is a "bug" in BART.  For FISTA, the proper thing to return (whenever one stops) is the output of the prox update.    (Whether this is "x" or "y" depends on the paper's notation BTW.)

I've double-checked that we do this properly in MIRT:
https://github.com/JeffFessler/MIRT.jl/blob/26cfbc2

[2022-10-06 22:00] JakobAsslaender commented on #114
@JeffFessler : I would loooooovvvvveeeee to throw POGM at our data! But so far I have been hesitant because of the different interface (compare to RLS.jl) and the lack of in-place operations etc. Do I understand correctly that the algorithm builds on FISTA? Maybe the easiest way to do those optimizations would be to copy the RSL.jl implementation of FISTA and turn it into POGM? We can, of course,

[2022-10-07 09:30] aTrotier commented on #114
@JakobAsslaender @JeffFessler After playing around I think you are right. I am able to get something close to the BART implementation of fista with a little bit much of noise which might then be related to https://github.com/MagneticResonanceImaging/MRIReco.jl/discussions/102#discussioncomment-3623535
In my first tests, I wanted to reduce the noise by increasing the lambda value which creates the

[2022-10-07 09:42] tknopp commented on #114
The option `params[:normalizeReg] = true` is actually supposed to make things independent of the input data but probably it is not enough. So there is certainly a TODO item left.

[2022-10-07 09:49] aTrotier commented on #114
Ok I think BART is doing that the other way, they scale the input image (https://github.com/MagneticResonanceImaging/MRIReco.jl/issues/92) rather than the lambda value.

[2022-10-07 16:09] JeffFessler commented on #114
Thanks for the encouragement.  I will first write a version of pogm that is streamlined (putting pogm and fista and pgm in one function is too messy) and uses in-place ops etc.  It will be for a general composite cost function and I will illustrate how to use it using a regularized LS problem.  Then we can decide if/how to make a wrapper in RLS.jl to call it just as easily as you call FISTA.

[2022-10-08 11:13] tknopp commented on #109
There is, by the way, yet another power iterations implementation :-)

https://github.com/JeffFessler/MIRT.jl/blob/26cfbc2a26b26814fa85739dbe01b5f1b8be5e21/src/algorithm/general/poweriter.jl

I would like to keep the duplicated code for the moment and first do the `MRICoilSensitivities` split off. But we keep this issue open as a reminder that there is room for improvement.

[2022-10-08 11:28] tknopp commented on #109
I think I found a 4th implementation :-)

https://iterativesolvers.julialinearalgebra.org/stable/eigenproblems/power_method/

I would argue that we should just use that and remove all other implementations. `IterativeSolvers` is well established.

[2022-10-08 11:52] tknopp commented on #109
I made some small tests and it seems the method in `IterativeSolvers.jl` is slower and allocating. Not sure if I tested properly though. In this commit one can see my (commented out) test:

https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/a8407b2b1610285e244a3774a785f04ae7d89113

If there is a performance issue in IterativeSolvers, we should just fix that there and afterwards remove o

[2022-10-08 21:19] #83 closed

[2022-10-08 23:32] tknopp opened #119 "Huge Package Split"
I just split off various code chunks out of `MRIReco` into dedicated packages:
* MRISampling
* MRIOperators
* MRISimulation
* MRICoilSensitivities

The split worked out rather well and I was able to untangle some code, which was not cleanly separated before.
I currently register the packages but this will require about 6 days. I recommend to not use master of `MRIReco` until all packages are regis

[2022-10-09 13:00] tknopp commented on #119
This is basically how things look like after the split:

![MRIRecoPackageStructure](https://user-images.githubusercontent.com/3109172/194758141-3f3e6246-0307-47c6-acdd-4f24f34cebb3.svg)

In red are some remarks for the future, which are, however, not so relevant for the packages below.

[2022-10-09 19:12] aTrotier commented on #119
Can you share the way to work on dev with all the package ? :)

[2022-10-09 19:22] tknopp commented on #119
Right now just by `dev ~/.julia/dev/MRIReco/MRISampling` for all packages with an MRI prefix in `Pkg` mode. Once everything is registered one hopefully does not need to dev all packages but only those, which one is working on.

[2022-10-10 07:01] tknopp commented on #119
I want to elaborate a little bit more on what has / is happening and why I think this is a good thing in the long run. Until now `MRIReco` was kind of a big leaf in the package tree and when one loaded `MRIReco` one had a full-featured reconstruction library. In the new world we currently don't have such a "toolbox" package anymore. `MRIReco` is just supposed to do what is in the name (i.e. image

[2022-10-10 07:20] tknopp commented on #38
The original issue with `data` has been resolved, I am thus closing this issue.

[2022-10-10 07:20] #38 closed

[2022-10-10 07:47] tknopp commented on #119
Yes, this dedicated package is `ImageUtils` and I moved the nifti code there. You can also see this in the test dependencies. We actually still run the `IO` test:
     https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/master/test/testIO.jl
which still works and saves / loads niftis. The only difference is that the two functions moved to `ImageUtils` and I made `ImageUtils` a test depende

[2022-10-10 09:19] aTrotier commented on #114
Just a remark : the accuracy issue can also be linked to the wavelet implementation. Bart is doing a full decomposition along each axis whereas as Wavelet.jl determine the minimum level of decomposition along each axis and used that.

[2022-10-10 10:14] tknopp commented on #114
Then we probably want to have options to refine the wavelet transform. Don't know how we should approach this but one would first start making the `WaveletOp` more general and then introduce some new high-level parameters.

[2022-10-10 10:53] aTrotier commented on #114
Actually it cannot be the issue in the benchmark because the 3D datasets dimension are the same along each axis. But it is something that might impact the image quality for non-square matrix like in the example : https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/master/examples/mridataorg/example.jl

[2022-10-12 08:29] aTrotier opened #122 "add Coil Compression methods"
For our Siemens datasets we are currently using the coil compression from Gadgetron (gadget PCACoilGadget + CoilReduction) : https://github.com/gadgetron/gadgetron/blob/master/gadgets/mri_core/PCACoilGadget.cpp

Bart also has an implementation :
https://github.com/mrirecon/bart/blob/master/src/cc.c

I don't know how Coil Compression can be used for non-cartesian data.

edit :
matlab implementation

[2022-10-12 17:33] alexjaffray commented on #122
@aTrotier there is coil compression in the coil sensitivities code. It works on our Siemens spiral data which is 2D.

It is in CoilSensitivity.jl, in a function called `geometricCC_2d`

[2022-10-12 17:48] aTrotier commented on #122
Thanks I actually missed that part... I will give it a try on large datasets !

[2022-10-12 17:54] tknopp commented on #122
We should put that code in a dedicated file and write a test for it. I could work on the 3d generalization afterwards.

[2022-10-15 11:42] tknopp commented on #119
### Update:
* I worked on making RegularizedLS independent of SparsityOperators and this worked out nicely. Also the handling of the normalOperator is now unified. One can see how this now looks like here: https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/master/src/Reconstruction/IterativeReconstruction.jl#L190. Most importantly the normal operator is now build outside of RegularizedLS.

[2022-10-15 11:45] tknopp opened #123 "Issue with CompositeOp and isWeighting"
If I set in this code `isWeighting=true`
https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/master/src/Reconstruction/IterativeReconstruction.jl#L52
it will give wrong results. It's not clear to me what is happening there.

[2022-10-15 11:48] tknopp opened #124 "Implement Toeplitz optimization for FieldmapNFFTOp"
If I see it right, we currently do not implement the Toeplitz optimization for the `FieldmapNFFTOp`. That would be a nice extension. The infrastructure is there and can be taken from the `NFFTOp`.

[2022-10-18 20:01] aTrotier commented on #122
corresponding PR #125

[2022-10-19 08:27] tknopp commented on #122
I change the naming to `geometricCoilCompression` and extended the code to 3D. At least I hope that the code does what it is supposed to do in 3D :-) If somebody wants to test this, please go for it.

 I wonder two things:
* is this the same as `gcc` in BART? They use the eigen decomposition of the Gram matrix. I did not look at the mathematical details yet
* BART as also `scc` and `ecc`. Do we wa

[2022-10-19 15:51] aTrotier commented on #122
I think the coil compression available in MRIreco is SCC (software coil compression). We use the same coil compression matrix for all the readouts. Whereas in GCC it is done for each spatial position along the readouts + a realignment step.

[2022-10-24 19:09] mrikasper opened #126 "voxel_size units in saveImage"
Dear all,

I have just tried the `saveImage` function to export reconstructed images to NIfTI.

[code]

However, when I read the `.nii` (e.g, in `fsleyes`), it looks as if the resolution is a factor of 1000 wrong (s. screenshot).

![image](https://user-images.githubusercontent.com/13321311/197605245-fdbaad8c-cd85-401f-9b22-38b169ab9eb8.png)

From the [README of NIfTI.jl](https://github.com/JuliaNe

[2022-10-24 19:12] tknopp commented on #126
is this with the currently released version? Just asking, since we moved the NIfTI code to ImageUtils.jl

[2022-10-24 19:24] tknopp commented on #126
So what I don't get is that the NIfTI that you get in the first case wrong and in the other case correct. It would be great if you could have a look at the `axes` of the reco object before saving for the `testIO.jl` case.

But in general, we can change `m` to `mm` in:
  https://github.com/tknopp/ImageUtils.jl/blob/master/src/Nifti.jl#L10

I would argue that NIfTI.jl should make a conversion to mm

[2022-10-24 19:25] aTrotier commented on #126
It was also something I noticed on Bruker datasets. That's why I put a
/1000.0 somewhere which cause another issue later :
https://github.com/MagneticResonanceImaging/MRIReco.jl/pull/121

Le lun. 24 oct. 2022 à 21:13, Tobias Knopp ***@***.***> a
écrit :

--
------------------------------------------------------------
TROTIER Aurélien
31 allée de la Biotte
33470 Gujan-Mestras
06.09.12.61.61
***@***

[2022-10-24 19:28] tknopp commented on #126
yes, the internal value is now considered to be in mm. So we should change the save routine and then everything should be fine I guess.

[2022-10-24 19:49] mrikasper commented on #126
Oh, sorry, no, it isn't. This was still with v0.5.5. I will update as soon as I get the rest of our use case running :-)

I think the step size is ill-defined (0mm) in the test case:

[code]

I agree that their interface should handle it, but apparently they don't use explicit Unitful info for the `voxel_size` at the moment. I think you suggestion to alter the one line of code makes in `ImageUtils

[2022-10-24 19:52] tknopp commented on #126
I take care and make a release of ImageUtils.

[2022-10-24 20:14] mrikasper commented on #126
Great, thank you so much, Tobias, @tknopp !

[2022-10-24 21:36] alexjaffray opened #127 "Undersampled Cartesian Simulation"
I wanted to generate some undersampled Cartesian data for a small teaching example (e.e to show aliasing) and it seems with the new changes to the package one can no longer generate undersampled simulated data.

The following MWE fails for me on MRIReco v0.7.0 and MRISimulation v0.1.1 with the error: `DimensionMismatch("array could not be broadcast to match destination")`

[code]

[2022-10-25 06:40] tknopp commented on #127
Thanks for the report. I will have a look. Are you sure that this worked before? I cannot directly see what has changed in that domain recently.

[2022-10-25 06:48] tknopp commented on #127
Probably, this is the problematic line: https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/master/MRIOperators/src/EncodingOp.jl#L155

If we find that a trajectory is Cartesian, we take the fast path and make a full FFT. Git blame says that this line is 4 years old.

@migrosser: you probably know better, what would be the best fix for that? I would say we need an "isUndersampling" functio

[2022-10-25 06:55] tknopp commented on #127
Hm, actually what I describe seems to be already there:
[code]
probably we don't get into the `if`.

[2022-10-25 14:36] tknopp commented on #127
fixed by @migrosser in https://github.com/MagneticResonanceImaging/MRIReco.jl/commit/10b5d8d230e17006699610886cda45f1abb56fc2
Releases are triggered.

[2022-10-25 14:36] #127 closed

[2022-10-26 03:20] MattEttus opened #128 "example file doesn't work in Julia 1.7.3"
If you follow the directions in the example file, you get an error that ISMRMRDFile is not defined

julia> using MRIReco

julia> include("example.jl")
ERROR: LoadError: UndefVarError: ISMRMRDFile not defined
Stacktrace:
 [1] top-level scope
   @ ~/mri/MRIReco.jl/examples/mridataorg/example.jl:18
 [2] include(fname::String)
   @ Base.MainInclude ./client.jl:451
 [3] top-level scope
   @ REPL[2]:1
i

[2022-10-26 05:11] aTrotier commented on #128
The interface to mrirecon has been changed a lot.
We should update the example. And maybe put it in the doc With literate to
see if it works

Le mer. 26 oct. 2022 à 05:20, Matt Ettus ***@***.***> a
écrit :

[2022-10-26 08:37] aTrotier commented on #128
I have started to work on the correction : https://github.com/MagneticResonanceImaging/MRIReco.jl/pull/129

@tknopp convert3dTo2d required to have access to FFTOp. Should we move that function in MRIReco to have access to it ?

By the way maybe we should put that example in the doc with literate (if it is possible to do so)

[2022-10-28 19:48] tknopp commented on #128
This is fixed on master and within the `0.7.1` release. We still need to fix the documentation after the package split but I will close this specific issue now.

[2022-10-28 19:48] #128 closed

[2022-10-28 20:28] MattEttus commented on #128
Now fails with a different error, with bad arguments to CartesianTrajectory:

Precompiling project...
  1 dependency successfully precompiled in 4 seconds (369 already precompiled)
[ Info: download ./data/ksp_knee_3dfse.h5...
ERROR: LoadError: MethodError: no method matching CartesianTrajectory(::Int64, ::Int64; TE=0.0f0, AQ=0.001f0)
Closest candidates are:
  CartesianTrajectory(::Type{T}, ::Any,

[2022-10-28 21:36] tknopp commented on #128
yes, a release of MRIBase was missing. Just triggers this. You will need to update once the release is tagged.

[2022-11-06 09:21] tknopp commented on #126
I think this can be closed.

[2022-11-06 09:21] #126 closed

[2022-11-06 09:48] tknopp opened #132 "MRIFieldmaps.jl (working title)"
As discussed in the last community call, we are missing proper field map estimation tools right now. This is a little bit unfortunate since fieldmap aware reconstruction is one of the core strengths of `MRIReco.jl`.

@alexjaffray has unpublished code for field map estimation  (based on which paper?) and I created an empty package (https://github.com/MagneticResonanceImaging/MRIReco.jl/tree/master/

[2022-11-06 18:05] alexjaffray commented on #132
@tknopp Thanks for getting this started! I'll read the readme and push my work later today. The functions are already documented so this should be straightforward, and the MRIFieldmaps.jl package-to-be is likely a good starting point for gathering more fieldmap estimation routines (including relaxation) into the MRIReco suite.

The functionality of my code is a (admittedly quite) naïve implementat

[2022-11-06 18:24] JeffFessler commented on #132
Sorry I missed the last call.  To atone for my oversight, I am working on a Julia translation of our 2020 version https://github.com/ClaireYLin/regularized-field-map-estimation
which we found to be much faster than the 2008 paper - in Matlab.
I think it is great that @alexjaffray is working on the 2008 version because I have not converted that one to Julia and it will be neat to verify that the sp

[2022-11-07 20:25] alexjaffray commented on #132
@JeffFessler thanks for taking a look, I'll incorporate your suggestions and commit shortly. It's great that there is synergy on this, our work depends on good field maps so I'm excited to try your translated version.

As far as R2* estimation goes, @kamesy has implemented a few common methods in Julia in his package [https://kamesy.github.io/QSM.jl](url). They work with array inputs so they most

[2022-11-08 04:04] aTrotier commented on #132
I also have some stuff for T2/T2* mapping (and MP2RAGE) here : https://github.com/aTrotier/qMRI.jl/

[2022-11-08 09:17] tknopp commented on #132
I am right now not deep enough in all these mapping things to:
1. judge if all these methods fit into a single coherent package
2. structure, and maintain that package
So it would be great if some of you could work on this. If it is preferred, we can move `MRIFieldmaps.jl` to its own Github repo but this implies that someone should feel (at least a little) responsible for it.

[2022-11-08 12:51] aTrotier commented on #132
It is not related to the reconstruction part of MRIReco so it makes sense to have a dedicated package which will be easier to handle and also have more visibility for potential users.

My initial idea with qMRI.jl was also to create something like [qMRLab](https://github.com/qMRLab/qMRLab) and can be used for post-processing which works on arrays, I don't know if all the function are in the scopes

[2022-11-08 15:41] JeffFessler commented on #132
I'd be glad to maintain an independent MRIFieldmaps package that focuses on B0 initially and later B1.
I'd prefer to leave the broader qMRI ecosystem to others at this point because it's probably too big to put in one package.
I'm still debugging.  When I get something working I'll package it up and ask for reviews and eventually it can be moved to MRI org.

[2022-11-22 18:08] JeffFessler commented on #132
Ok, I now have a working version at
https://github.com/MagneticResonanceImaging/MRIfieldmaps.jl
Unless there are objections, I plan to register this version (0.0.1) because I want to have an archive of it in this state because it kind of reproduces the results in our 2020 paper.
Then I have plans to improve the code factoring, and extend the algorithm in ways that depart from that paper, and I am

[2022-11-22 18:09] JeffFessler commented on #132
I'd propose we close this issue here and report any issues with the code in the new repo, but I leave it to you @tknopp since you opened the issue.

[2022-11-22 18:13] JeffFessler commented on #132
I've started the registration process because it takes 3 days.  So if you have objections to my registering v0.0.1 please speak up within 3 days!
https://github.com/JuliaRegistries/General/pull/72696

[2022-11-23 20:02] mrikasper commented on #132
@JeffFessler That's great, thank you for pushing this forward, I will definitely test this out!

I have a small, but maybe relevant question: Do we have any naming conventions in our (MRI) Julia community for new packages (or rather: their GitHub repo name), in particular with respect to capitalization and the `.jl` extension? Most of the sub-packages in MRIReco.jl follow the convention `MRI<X>xxx

[2022-11-23 21:43] tknopp commented on #132
Yes, I would prefer `MRIFieldmaps` as the package name. Mainly because of consistency. Acronyms and camel case is always a little bit odd. But look for instance at https://github.com/SciML, which is one of the largest Julia github organization where they also use names like `SciMLBenchmarks.jl`. (or https://github.com/JuliaGPU has `GPUArrays.jl`)

Regarding the `.jl`postfix in the Github repo name

[2022-11-23 22:17] JeffFessler commented on #132
Agreed.  Done.

[2022-11-24 08:45] tknopp commented on #132
I am closing this now. Further discussions can happen at the new Github repo.

[2022-11-24 08:45] #132 closed

[2022-11-24 10:42] tknopp commented on #122
Thanks for pushing this forward Aurelien!

With https://github.com/MagneticResonanceImaging/MRIReco.jl/pull/131 being merged should we close this issue?

It would be good if we could get a benchmark into MRIRecoBenchmarks that compares BART and our implementation. I am not sure if timing is actually relevant/interesting here but the accuracy certainly is. It could look similar to this comparison:

[2022-11-24 20:37] aTrotier opened #136 "move mergeChannels in MRIReco ?"
I had some trouble to find where the function was moved -> MRICoilSensitivies

Should we put it in MRIReco ? Because the sum-of-square reco is used when we don't want (have access) to compute the sensitivity maps.

[2022-11-24 21:06] aTrotier commented on #122
I'll create the benchmark.
Do you want to perform it on the dataset used [here](https://people.eecs.berkeley.edu/~mlustig/software/ESPIRiT_demo/demo_ECC.html) Or just something based on the simulation ?

I don't use in routine the coil compression in bart, but if I remember it is pretty long for large 3D multi-coil datasets. I can try on one of my brain datasets with 64 coils to see the results.